<html>
    <head>
        <title>String Repeat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>See how many times a word appears in a phrase!</h1>
            <form action="/results">
                <div class="form-group">
                    <label for="user_word">Enter your word:</label>
                    <input type="text" name="word" class='form-control' required>

                    <label for="user_phrase">Enter your phrase:</label>
                    <input type="text" name="phrase" class='form-control' required>
                </div>

                <button type='submit' class='btn btn-info'>Check repeats!</button>
            </form>
        </div>
    </body>
</html>
